body {
  margin: 20px;
  padding: auto
}

code {
  background: #d0d0d5;
}

canvas {
  margin: auto;
}
h1 {
  text-align:center
}

#data {
  width: 640px;
  /* border:1px solid blue; */
  margin: auto;
  display: flex;
  gap:50px;
  justify-content:center;
  padding:0;
}

#data * {
  display: inline-flex;
  gap:5px;
  margin:0;
  margin-bottom:2px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
.container {
  display: flex;
  flex-direction: column;
}



@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}
